<nav class="nav navbar-expand-lg navbar-dark bg-dark">
    <a href="/" class="navbar-brand">
        Blog do seu creiso
    </a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a  class="nav-link" href="/">Home</a>
        </li>
    </ul>
</nav>